body {
  margin: 0;
  background-image: radial-gradient(circle at top, #45C2FF 0%, #218FFF 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: 'open sans', 'asap', 'lato', sans-serif, 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1px
}

#app {
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  // background-color: lightblue;
  // color: white;
}

.button {
  color: white;
  cursor: pointer;
  background: orange;
  padding: 1.25rem;
  border-radius: 0.5rem;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-weight: 600;

  &.confirm {
    background-color: #7ED321;
  }
}

.flex-grow-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  outline: none;
  margin-bottom: 0.75rem;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2em;

}

.title {
  font-weight: 600;
}
