.product-list {
  padding-top: 1rem;

  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .description {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }

  .item {
    display: flex;
    height: 6rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.3);

    .text-container {
      margin-right: 1rem;
    }

    .title,
    .description {
      margin-bottom: 0.6rem;
    }

    .title {
      font-size: 1.3rem;
    }

    .description {
      font-size: 0.7rem;
    }

    .price-container {
      display: flex;
      align-items: flex-end;

      .price {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 600;
      }

      .savings {
        margin-left: 0.5rem;
        font-size: 0.6rem;
      }
    }

    .item-preview {
      height: 100%;
    }

  }

}

@media only screen and (max-width: 340px) {

  .product-list .item {

    .description {
      font-size: 0.7rem;
    }

    .title {
      font-size: 1.2rem;
    }

    .price-container {
      display: flex;
      align-items: flex-end;

      .price {
        font-size: 0.7rem;
        line-height: 1rem;
        font-weight: 600;
      }

      .savings {
        margin-left: 0.5rem;
        font-size: 0.6rem;
      }

    }

    .item-preview {
      margin-top: 0.5rem;
      height: 80%;
    }

  }
}
