.review-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .title-container {
    position: relative;
    font-size: 2rem;

    .back-button {
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 600;
    }

    .title {
      text-align: center;
      margin-bottom: 1rem;

      div {
        margin-bottom: 0.5rem;
      }
    }
  }

  .item-preview {
    text-align: center;
    margin-bottom: 1.5rem;

    img {
      width: 60%;
    }
  }

  .description {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .price-summary {
    margin-bottom: 0.5rem;
    font-weight: 600;

    .row {
      display: flex;
      margin-bottom: 0.5rem;
    }
  }

  .total {
    margin-bottom: 1.5rem;
    text-align: end;
    font-size: 2rem;
    font-weight: 600;
  }

  .error {
    height: 62px;
    color: red;
    font-weight: 500;
  }
}

@media only screen and (max-width: 340px) {
  .review-container {

    .title-container {
      position: relative;
      font-size: 1.5rem;

      .back-button {
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 600;
      }

      .title {
        text-align: center;
        margin-bottom: 0.8rem;

        div {
          margin-bottom: 0.5rem;
        }
      }
    }

    .description {
      font-size: 1rem;
      text-align: center;
    }

    .price-summary {
      margin-bottom: 0.5rem;
      font-size: 0.8rem;
      font-weight: 600;

      .row {
        display: flex;
        margin-bottom: 0.5rem;
      }
    }
  }
}
