.welcome-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .luna {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2em;
  }

  .row {
    margin-bottom: 0.5rem;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .description {
    font-size: 1.25rem;
  }

  .description,
  .input,
  .button {
    margin-bottom: 1.5rem;
  }

  .explain {
    font-size: 0.5rem;
  }

  .gdpr-container {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    input {
      margin-right: 0.5rem;
    }
  }

  .action-container {
    width: 100%;
    height: 78px;
    display: flex;
    align-items: center;
    justify-content: center;

    .error {
      color: red;
      font-size: 0.75rem;
    }
  }

  .hidden {
    visibility: hidden;
  }
}

@media only screen and (max-width: 340px) {
  .welcome-container {
    .title {
      font-size: 1.4rem;
      z-index: 3;
    }

    .description {
      font-size: 1rem;
    }

    .button {
      margin-bottom: 1rem;
    }

    .gdpr-container {
      font-size: 0.5rem;
    }
  }
}
