.welcome-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .luna {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -2em;
  }

  .title {
    font-size: 2rem;
    text-align: center;

    .row {
      margin-bottom: 0.5rem;
    }
  }

  .description {
    font-size: 1.25rem;
  }

  .description,
  .input,
  .button {
    margin-bottom: 1.5rem;
  }

  @media only screen and (max-width: 340px) {
    .title {
      font-size: 1.4rem;
      z-index: 3;
    }

    .description {
      font-size: 1rem;
    }

    .button {
      margin-bottom: 1rem;
    }
  }
}
